extends layout

block content
  h1 Internet Bandwidth
  .download
    span Download: 
    span.js-download 0 MB/S
  .download
    span Upload: 
    span.js-upload 0 MB/S
  .highest
    span Peak Download: 
    span.js-highest 0 MB/S

  .chart-gauge

  script(src='http://cdnjs.cloudflare.com/ajax/libs/d3/3.3.3/d3.min.js')
  script(src='/javascripts/index.js')
