body {
  font: 14px"Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black;
  color: white;
}

.highest, h1 { display:none; }

path,
.needle,
.needle-center { fill: #fff; }

.chart-gauge {
  width: 350px;
  height: 200px;
  position: relative;
}
.chart-gauge--upload {
}
.gauge-speed {
  width:80px;
  height:60px;
  background-color: #000;
  position: absolute;
  top:90px;
  left:85px;
  border-radius:50% 50% 0 0;
  text-align: center;
}
.gauge-speed span {
  position: absolute;
  top:20px;
  width:100%;
  left: 0;
}
