body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black;
  color: white;
}

a {
  color: #00B7FF;
}

.chart-gauge {
  width: 400px;
  margin: 100px auto;
}

path {
  fill: #fff;
}

.needle,
.needle-center {
  fill: #fff;
}
